body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
    color: white;
}



header {
    background-color: #1b31f7ff;
    padding: 20px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: right;
}

nav ul {
    display: flex;
    gap: 20px;
}



.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
}

.hero-text {
    max-width: 500px;
}

.hero h1 {
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero p {
    color: #E5E7EB;
    margin-bottom: 20px;
}

.hero button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.hero img {
    width: 400px;
}



.info {
    text-align: center;
    padding: 60px 100px;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 40px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.box {
    width: 150px;
}

.box div {
    border: 3px solid #3882F6;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}



.quote {
    background-color: #E5E7EB;
    padding: 80px 200px;
}

.quote blockquote {
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.quote p {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}


.cta {
    padding: 80px 100px;
    display: flex;
    justify-content: center;
}

.cta-box {
    background-color: #3882F6;
    color: white;
    padding: 40px 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cta-box button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}



footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px;
}